<h1>{{title}} Demo</h1>
<div>
  <h2>Math Equation</h2>
  <div mathjax *ngIf="show">
    Fact:
    $$
    E = mc^2
    $$
  </div>
</div>

<div>
  <h2>Math inline</h2>
  <div mathjax>
    Fact: \( E = mc^2 \)
  </div>
</div>

<div>
  <h3>Dynamic typeset</h3>
  <form #myform="ngForm">
    <textarea [(ngModel)]="texOriginal" name="texOriginal"></textarea>
    <div #jax [mathjax]="texOriginal">
      <div> Fact: \( {{ '{}' }} \)</div>
    </div>
  </form>
</div>

<button (click)="show = !show">Hide/Show</button>
